<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cart</h1>
    <p><b>Total Purchase: </b><%= data[0].total %></p>
    <% cart.forEach(data => { %>
        <h2><%= data.productId.title %></h2>
        <p><b>Description:</b> <%= data.productId.description %></p>
        <p><b>Price</b><%= data.productId.price %></p>
   <% }) %>
   
</body>
</html>