<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="post">
        <input type="text" name="title" placeholder="Enter Title of Product">
        <input type="text" name="description" placeholder="Enter Description of Product">
        <input type="text" name="image" placeholder="Enter Image link of Product">
        <input type="text" name="price" placeholder="Enter Price of Product">
        <button>Add</button>
    </form>
</body>
</html>