body {
  background-color: #1111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  width: 300px;
  background-color: #33333300;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card p {
  /* margin: 20px 0; */
}

button {
  background-color: aqua;
  padding: 4px 20px 4px 20px;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 10px;
}