body {
  background-color: rgba(0, 0, 0, 0.953);
  color: white;
  margin: 0;
  padding: 0;
}

.card {
  background-color: crimson;
  border-radius: 10px;
  padding: 20px;
}

.nav {
  background-color: lightblue;
  padding: 10px;
  font-size: 24px;
}